# Root gitignore
node_modules/
.env
dist/
build/
*.log

# Backend specific
backend/node_modules/
backend/.env

# Frontend specific
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env
